body{
  background-color: #131416;
}

.appGroup{
  margin-top: 20px;
}

.contactDisplay{
  margin-left: 78px;
  margin-right: 73px;
  background-color: #1c1e21;
}

.form-horizontal{
  margin-left: 62px;
  background-color: #1c1e21;
}

.form-control{
  background-color: #131416;
  border-color: 131416;
  margin-left: 24px;
}

#inputEmail{
  margin-right: 5px;
}

.btn{
  background-color: #034CEB;
}

#delete{
  color: #034CEB;
}

legend{
  color: #F8F8FA;
}

.control-label{
  color: #F8F8FA;
}

#emailOutput{
  color: #F8F8FA;
}
